<div class="site-mobile-menu site-navbar-target">
   <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
         <span class="icon-close2 js-menu-toggle"></span>
      </div>
   </div>
   <div class="site-mobile-menu-body"></div>
</div> <!-- .site-mobile-menu -->


<!-- NAVBAR -->
<header class="site-navbar mt-3">
   <div class="container-fluid">
      <div class="row align-items-center">
         <div class="site-logo col-6"><a [routerLink]="['/']">JobBoard</a></div>

         <nav class="mx-auto site-navigation">
            <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
               <li><a [routerLink]="['']" class="nav-link">Home</a></li>
               <li><a href="about.html">About</a></li>
               <li *ngIf="isAdmin()" class="has-children">
                  <a href="services.html">Manager Areas</a>
                  <ul class="dropdown">
                     <li><a [routerLink]="['/areas-create']">Areas Create</a></li>
                  </ul>
               </li>
               <li *ngIf="isAdmin()" class="has-children">
                  <a href="job-listings.html" class="active">Manager Jobs</a>
                  <ul class="dropdown">
                     <li><a [routerLink]="['/jobs-create']">Jobs Create</a></li>
                     <li><a [routerLink]="['/jobs']">Jobs List</a></li>
                     <li><a [routerLink]="['/applicant-list']">Applicants View</a></li>
                  </ul>
               </li>

               <li *ngIf="isCompany()" class="has-children">
                  <a href="job-listings.html" class="active">Manager Jobs</a>
                  <ul class="dropdown">
                     <li><a [routerLink]="['/jobs-create']">Jobs Create</a></li>
                     <li><a [routerLink]="['/jobs']">Jobs List</a></li>
                     <li><a [routerLink]="['/applicant-list']">Applicants View</a></li>
                  </ul>
               </li>
               
               <li *ngIf="isAdmin()" class="has-children">
                  <a href="job-listings.html" class="active">Manager CV</a>
                  <ul class="dropdown">
                     <li><a [routerLink]="['/resume-create']">CV Create</a></li>
                     <li><a [routerLink]="['/applicant']">CV List</a></li>
                  </ul>
               </li>

               <li><a *ngIf="checkLogin()" href="contact.html">{{ username }}</a></li>
               <!-- <li><p>tinh tran {{ checkLogin() }}</p></li> -->
               <li class="d-lg-none"><a href="post-job.html"><span class="mr-2">+</span> Post a Job</a></li>
               <li class="d-lg-none"><a href="login.html">Log In</a></li>
            </ul>
         </nav>

         <div class="right-cta-menu text-right d-flex aligin-items-center col-6">
            <div class="ml-auto">
               <a *ngIf="checkLogin() && username == 'isCompany'" [routerLink]="['/jobs-create']" class="btn btn-outline-white border-width-2 d-none d-lg-inline-block"><span
                     class="mr-2 icon-add"></span>Post a Job</a>


               <a *ngIf="!checkLogin()" [routerLink]="['/login']" class="btn btn-primary border-width-2 d-none d-lg-inline-block"><span
                     class="mr-2 icon-lock_outline"></span>Log In</a>
                  <a *ngIf="checkLogin()" (click)="loggout()" class="btn btn-info border-width-2 d-none d-lg-inline-block text-white"><span
                        class="mr-2 icon-add"></span>LogOut</a>


            </div>
            <a href="#" class="site-menu-toggle js-menu-toggle d-inline-block d-xl-none mt-lg-2 ml-3"><span
                  class="icon-menu h3 m-0 p-0 mt-2"></span></a>
         </div>

      </div>
   </div>
</header>

<!-- HOME -->
